*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
.vscode/*
!.vscode/extensions.json
*.iml
*.o
public/
.devcontainer.bak/*
# Local Netlify folder
.netlify
Cargo.toml
Cargo.lock

hello-world/
if2
ms.src/
rustlings-fix-solution.md
rusty-journal/
tc --explain E0369*
.devcontainer/setup.sh
.devcontainer/devcontainer.json